*{
    margin:0px;
    padding: 0px;
    border: 0px ; 
  }
 
 .navbar{
    background-color: rgb(92, 122, 255) ;
    height: 50px ;
    
        }

.name  {
    color: rgb(250,249,249);
    font-size : 40px ;
    font-family: 'Comic Neue', cursive;
    display : inline;
    margin-right: 200px;
      }
a{
    font-size: 25px;
    margin-right: 200px;
    color: rgb(250,249,249) ;
    text-decoration: none;
}

a:hover{
    color: rgb(09,23,27);
}

button:hover{
    background-color: rgb(09,23,27);
}
.nonsense{
    margin-top: 10px;
}

img{
    margin-top: 80px;
    margin-left: 80px;
    height: 200px;
    width:200px;
    

}



    